* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.skroll-container{
    position: fixed;
    top: 0;
    width:100%;
    height:100%;
}

.layout{
    width:100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

nav {
    padding-top: 50px;
    z-index: 2;
}

nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap:20px;
    color:white;
}

nav ul a{
    color:inherit;
}

.main-bg h2{
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    color:white;
    font-size:8vw;
    z-index: 1;
}

.main-bg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    background: #222;
    padding: 60px 0;
}

.content .content-images{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:40%;
}

.content .content-images > div{
    flex-basis: 48%;
    text-align: center;
    color:white;
}

.content .content-images > div > img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.content .content-images > div > h4{
    padding-top: 10px;
}

.text-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    color:white;
}

.text-box .text{
    font-size:1vw;
    width:50%;
    margin: 0 auto;
}